@font-face {
  font-family: "SPDisplay-Regular";
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFDisplay-Light";
  src: url("../fonts/SFProDisplay-Light.eot");
  src: url("../fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SPDisplay-Medium";
  src: url("../fonts/SFProDisplay-Medium.eot");
  src: url("../fonts/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFPDisplay-Semibold";
  src: url("../fonts/SFProDisplay-Semibold.eot");
  src: url("../fonts/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SPDisplay-Bold";
  src: url("../fonts/SFProDisplay-Bold.eot");
  src: url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "SPDisplay-Regular";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "SPDisplay-Regular";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 18px;
  background: #101216;
  color: #fff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 15px;
}

.btn {
  font-family: "SPDisplay-Medium", sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 22px;
  font-size: 16px;
  line-height: 19px;
  color: #23262c;
  background: #ffffff;
  border-radius: 6px;
  min-height: 42px;
  border: 2px solid #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn._fw {
  width: 100%;
}

.title {
  text-align: center;
}

.title__text {
  font-size: 48px;
  line-height: 118.75%;
  text-align: center;
  font-family: "SFDisplay-Light", sans-serif;
  margin-bottom: 24px;
}

.title__subtitle {
  font-size: 18px;
  line-height: 155.55556%;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}

.title-lead {
  font-size: 48px;
  line-height: 118.75%;
  font-family: "SPDisplay-Bold", sans-serif;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header._scroll {
  background: rgba(19, 19, 19, 0.25);
  -webkit-backdrop-filter: blur(123px);
          backdrop-filter: blur(123px);
}

@supports ((-webkit-backdrop-filter: blur(123px)) or (backdrop-filter: blur(123px))) {
  .header._scroll {
    background: rgba(19, 19, 19, 0.25);
    -webkit-backdrop-filter: blur(123px);
            backdrop-filter: blur(123px);
  }
}

.header__container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 5px 15px;
  min-height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 30px;
  display: block;
  color: inherit;
  position: relative;
  z-index: 2;
}

.header__link {
  text-transform: uppercase;
  padding-left: 34px;
  position: relative;
  font-family: "SFPDisplay-Semibold", sans-serif;
  font-size: 24px;
}

.header__link:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  border-radius: 50%;
  height: 24px;
  background: rgba(255, 255, 255, 0.24);
}

.header__btn {
  margin-left: 30px;
  position: relative;
  z-index: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 24px;
}

.menu__link {
  font-size: 16px;
  line-height: 118.75%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}

.menu__sublist {
  left: -10px;
  top: 250%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 3;
  min-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(19, 19, 19, 0.25);
  -webkit-backdrop-filter: blur(123px);
          backdrop-filter: blur(123px);
  padding: 10px;
  pointer-events: visible;
}

.menu__sublist li:not(:last-child) {
  margin-bottom: 10px;
}

.menu__sublink {
  width: 100%;
  display: block;
  font-size: 16px;
  line-height: 118.75%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}

.icon-menu {
  display: none;
}

.footer {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 0px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 6px;
}

.footer__item {
  display: block;
  font-size: 16px;
  line-height: 118.75%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}

.footer__item:not(:last-child) {
  margin-right: 24px;
}

.footer__text {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text p {
  font-size: 16px;
  line-height: 118.75%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.35);
}

.footer__text span {
  display: block;
  margin: 0px 12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link {
  display: block;
}

.footer__link:not(:last-child) {
  margin-right: 16px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.page__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mainscreen {
  position: relative;
  padding-top: 181px;
}

.mainscreen__bg {
  position: absolute;
  width: 100%;
  height: 900px;
  left: 0;
  top: -132px;
}

.mainscreen__bg:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 350px;
  bottom: 0;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(#101216), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(rgba(255, 255, 255, 0), #101216, rgba(255, 255, 255, 0));
  background: linear-gradient(rgba(255, 255, 255, 0), #101216, rgba(255, 255, 255, 0));
}

.mainscreen__content {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 415px;
  margin: 0 auto;
}

.mainscreen__content *:last-child {
  margin-bottom: 0;
}

.mainscreen__text {
  font-size: 56px;
  line-height: 107.14286%;
  text-align: center;
  font-family: "SFDisplay-Light", sans-serif;
  margin-bottom: 31px;
}

.mainscreen__subtitle {
  margin-bottom: 19px;
  font-size: 18px;
  line-height: 155.55556%;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}

.diagram {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 860px;
          flex: 0 1 860px;
  max-width: 860px;
  margin: 60px auto 0px auto;
  z-index: 2;
  margin-bottom: 120px;
}

.diagram__img img {
  max-width: 100%;
}

.features {
  margin-bottom: 160px;
}

.features__container {
  position: relative;
}

.features__container:before {
  content: "";
  position: absolute;
  width: 631.39px;
  height: 1156.94px;
  top: -45%;
  left: 13%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.15;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(0.84, -0.56, 0.53, 0.84, 0, 0);
      -ms-transform: matrix(0.84, -0.56, 0.53, 0.84, 0, 0);
          transform: matrix(0.84, -0.56, 0.53, 0.84, 0, 0);
  z-index: -1;
}

.features__container:after {
  content: "";
  position: absolute;
  width: 631.39px;
  height: 591.39px;
  top: -29%;
  right: -24%;
  background: -webkit-gradient(linear, left bottom, left top, from(#4a3cf7), to(#4a3cf7));
  background: -o-linear-gradient(bottom, #4a3cf7, #4a3cf7);
  background: linear-gradient(0deg, #4a3cf7, #4a3cf7);
  opacity: 0.15;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(0.84, -0.56, 0.53, 0.84, 0, 0);
      -ms-transform: matrix(0.84, -0.56, 0.53, 0.84, 0, 0);
          transform: matrix(0.84, -0.56, 0.53, 0.84, 0, 0);
  z-index: -1;
}

.features__subtitle {
  margin-bottom: 60px;
}

.features__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(250px, 320px) minmax(300px, 400px) minmax(250px, 320px);
  grid-template-columns: minmax(250px, 320px) minmax(300px, 400px) minmax(250px, 320px);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.features__block {
  border-radius: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}

.block-features {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  height: 48.5%;
  background-color: rgba(255, 255, 255, 0.1);
}

.block-features *:last-child {
  margin-bottom: 0;
}

.block-features-small:after {
  content: "";
  position: absolute;
  width: 234.97px;
  height: 306.9px;
  top: -33%;
  right: -12%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.35;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(0.56, -0.84, 0.82, 0.56, 0, 0);
      -ms-transform: matrix(0.56, -0.84, 0.82, 0.56, 0, 0);
          transform: matrix(0.56, -0.84, 0.82, 0.56, 0, 0);
  z-index: -1;
}

.block-features-big {
  height: 100%;
}

.block-features-big:after {
  content: "";
  position: absolute;
  width: 661.97px;
  height: 864.63px;
  top: -12%;
  left: -42%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.35;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(0.56, -0.84, 0.82, 0.56, 0, 0);
      -ms-transform: matrix(0.56, -0.84, 0.82, 0.56, 0, 0);
          transform: matrix(0.56, -0.84, 0.82, 0.56, 0, 0);
  z-index: -1;
}

.block-features__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -1;
}

.block-features__icon {
  margin-bottom: 20px;
}

.block-features__label {
  font-size: 24px;
  line-height: 133.33333%;
  font-family: "SFPDisplay-Semibold";
  letter-spacing: 0.02em;
  margin-bottom: 12px;
  max-width: 180px;
}

.block-features__text {
  font-size: 18px;
  line-height: 155.55556%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.block-features__img {
  position: relative;
  bottom: -24px;
}

.block-features__img img {
  max-width: 100%;
  margin-left: -24px;
}

.numbers {
  margin-bottom: 160px;
}

.numbers__container {
  position: relative;
}

.numbers__container:before {
  content: "";
  position: absolute;
  width: 501.76px;
  height: 919.4px;
  top: -150%;
  left: 26%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.15;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(0.33, -0.95, 0.93, 0.34, 0, 0);
      -ms-transform: matrix(0.33, -0.95, 0.93, 0.34, 0, 0);
          transform: matrix(0.33, -0.95, 0.93, 0.34, 0, 0);
  z-index: -1;
}

.numbers__subtitle {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.numbers__subtitle a {
  color: inherit;
  position: relative;
}

.numbers__subtitle a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  color: rgba(255, 255, 255, 0.8);
}

.numbers__row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 30px;
}

.numbers__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.numbers__num {
  font-size: 96px;
  line-height: 119.79167%;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
  font-family: "SFPDisplay-Semibold";
}

.numbers__label {
  font-size: 18px;
  line-height: 133.33333%;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.traders {
  margin-bottom: 160px;
}

.traders__container {
  position: relative;
}

.traders__container:before {
  content: "";
  position: absolute;
  width: 631.39px;
  height: 1156.94px;
  top: 7%;
  left: -7%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.1;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(0.92, -0.42, 0.39, 0.91, 0, 0);
      -ms-transform: matrix(0.92, -0.42, 0.39, 0.91, 0, 0);
          transform: matrix(0.92, -0.42, 0.39, 0.91, 0, 0);
  z-index: -1;
}

.traders__container:after {
  content: "";
  position: absolute;
  width: 367.12px;
  height: 672.7px;
  top: 3%;
  left: 35%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 55.23%, #9e40a7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 55.23%, #9e40a7 87.08%);
  opacity: 0.5;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(0.62, -0.8, 0.77, 0.62, 0, 0);
      -ms-transform: matrix(0.62, -0.8, 0.77, 0.62, 0, 0);
          transform: matrix(0.62, -0.8, 0.77, 0.62, 0, 0);
  z-index: -1;
}

.traders__title {
  text-align: center;
}

.traders__subtitle {
  margin-bottom: 24px;
}

.traders__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 40px;
}

.traders__link {
  margin-bottom: 20px;
}

.traders__btn {
  font-size: 16px;
  line-height: 118.75%;
  padding: 5px 22px;
  min-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  color: inherit;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.traders__body {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.traders__arrow {
  cursor: pointer;
}

.traders__arrow img {
  display: block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.traders__arrow-prev img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.traders__slider {
  min-width: 850px;
}

.traders__slider .swiper-slide {
  opacity: 0.5;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform: translateX(-35%);
      -ms-transform: translateX(-35%);
          transform: translateX(-35%);
}

.traders__slider .swiper-slide img {
  width: 340px;
  height: 375px;
}

.traders__slider .swiper-slide-active {
  opacity: 1;
  position: relative;
  z-index: 2;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.traders__slider .swiper-slide-active img {
  min-width: 400px;
  height: 441px;
}

.traders__slider .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.traders__slider .swiper-slide-prev {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform: translateX(45%);
      -ms-transform: translateX(45%);
          transform: translateX(45%);
}

.traders__slider .swiper-slide-prev img {
  max-width: 85%;
}

.traders__slider .swiper-slide-next {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform: translateX(-35%);
      -ms-transform: translateX(-35%);
          transform: translateX(-35%);
}

.traders__slider .swiper-slide-next img {
  max-width: 85%;
}

.traders__slider .swiper-button-disabled {
  opacity: 0.5;
}

.traders__slide img {
  display: block;
}

.traders .swiper-button-disabled img {
  opacity: 0.5;
}

.statistics-traders {
  position: relative;
}

.statistics-traders:before {
  content: "";
  position: absolute;
  width: 631.39px;
  height: 1156.94px;
  top: -33%;
  left: 0%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.1;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(0.5, -0.88, 0.86, 0.5, 0, 0);
      -ms-transform: matrix(0.5, -0.88, 0.86, 0.5, 0, 0);
          transform: matrix(0.5, -0.88, 0.86, 0.5, 0, 0);
  z-index: -1;
}

.statistics-traders:after {
  content: "";
  width: 485.46px;
  height: 372px;
  top: -7%;
  right: 9%;
  position: absolute;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.5;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(0.68, -0.32, 2.04, 0.44, 0, 0);
      -ms-transform: matrix(0.68, -0.32, 2.04, 0.44, 0, 0);
          transform: matrix(0.68, -0.32, 2.04, 0.44, 0, 0);
  z-index: -1;
}

.statistics-traders__pagination {
  position: relative;
}

.statistics-traders__pagination:after {
  content: "";
  position: absolute;
  width: 631.39px;
  height: 591.39px;
  top: -715%;
  right: -26%;
  background: -webkit-gradient(linear, left bottom, left top, from(#4a3cf7), to(#4a3cf7));
  background: -o-linear-gradient(bottom, #4a3cf7, #4a3cf7);
  background: linear-gradient(0deg, #4a3cf7, #4a3cf7);
  opacity: 0.2;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(0.84, -0.56, 0.53, 0.84, 0, 0);
      -ms-transform: matrix(0.84, -0.56, 0.53, 0.84, 0, 0);
          transform: matrix(0.84, -0.56, 0.53, 0.84, 0, 0);
  z-index: -1;
}

.statistics-traders .swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statistics-traders .swiper-pagination-bullet {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0px 8px;
  background: rgba(255, 255, 255, 0.25);
  margin-top: 40px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.statistics-traders .swiper-pagination-bullet-active {
  background-color: #fff;
}

.deals-statistics__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.deals-statistics__heading img {
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px !important;
  cursor: pointer;
}

.deals-statistics__label {
  font-size: 24px;
  font-family: "SFPDisplay-Semibold";
  letter-spacing: 0.02em;
}

.deals-statistics__table {
  overflow-y: auto;
  margin-bottom: 30px;
}

.table-deals {
  border-radius: 12px;
}

.table-deals__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 93px 118px 201px 74px 150px 92px 119px 144px auto;
  grid-template-columns: 93px 118px 201px 74px 150px 92px 119px 144px auto;
  padding-top: 20px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  white-space: nowrap;
  min-width: 1080px;
}

.table-deals__item {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.table-deals__profit {
  text-align: right;
}

.table-deals__body {
  white-space: nowrap;
  min-width: 1080px;
}

.table-deals__line {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 93px 118px 201px 74px 150px 92px 119px 144px auto;
  grid-template-columns: 93px 118px 201px 74px 150px 92px 119px 144px auto;
  padding: 0px 20px;
  min-height: 40px;
}

.table-deals__line-black {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-deals__lead {
  font-size: 16px;
  letter-spacing: 0.02em;
}

.table-deals__lead-commission {
  color: #ed4c5c;
}

.table-deals__lead-profit {
  color: #16ae4d;
}

.table-deals__lead-trading {
  position: relative;
  padding-left: 41px;
}

.table-deals__lead-trading:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 20px;
  height: 20px;
  background: url("../img/tabel/eur.svg") left no-repeat;
}

.table-deals__lead-trading:before {
  content: "";
  content: "";
  position: absolute;
  top: 2px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: url("../img/tabel/usd.svg") left no-repeat;
  z-index: 2;
}

.table-deals__line-white {
  background-color: rgba(255, 255, 255, 0.1);
}

.statistic__header {
  font-size: 24px;
  font-family: "SFPDisplay-Semibold";
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.statistic__table {
  overflow-y: auto;
}

.table-statistic {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  border-radius: 12px;
}

.table-statistic__column {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table-statistic__column:first-child:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 90%;
  width: 2px;
  background: rgba(255, 255, 255, 0.1);
}

.table-statistic__line {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.table-statistic__line-black {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-statistic__line-white {
  background-color: rgba(255, 255, 255, 0.1);
}

.table-statistic__label {
  font-size: 16px;
  letter-spacing: 0.02em;
}

.table-statistic__text {
  font-size: 16px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-statistic__text img {
  display: block;
  margin-right: 10px;
}

.servers {
  margin-bottom: 160px;
}

.servers__subtitle {
  margin-bottom: 60px;
}

.servers__grid {
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 320px;
  grid-template-columns: auto 320px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  position: relative;
}

.servers__grid:after {
  content: "";
  position: absolute;
  width: 768.92px;
  height: 1156.94px;
  top: 33%;
  left: -7%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.1;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(-0.81, -0.57, 0.59, -0.82, 0, 0);
      -ms-transform: matrix(-0.81, -0.57, 0.59, -0.82, 0, 0);
          transform: matrix(-0.81, -0.57, 0.59, -0.82, 0, 0);
  z-index: -1;
}

.servers__block {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.servers__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(280px, 400px) minmax(300px, 320px);
  grid-template-columns: minmax(280px, 400px) minmax(300px, 320px);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}

.servers__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 24px;
  position: relative;
}

.servers__column-big {
  position: relative;
  overflow: hidden;
}

.servers__column-big:after {
  content: "";
  position: absolute;
  width: 365px;
  height: 415px;
  top: -33%;
  left: 40%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.9;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(0.65, -0.47, 1.44, 0.47, 0, 0);
      -ms-transform: matrix(0.65, -0.47, 1.44, 0.47, 0, 0);
          transform: matrix(0.65, -0.47, 1.44, 0.47, 0, 0);
  z-index: -1;
}

.servers__column-small {
  position: relative;
  overflow: hidden;
}

.servers__column-small:after {
  content: "";
  position: absolute;
  width: 267.79px;
  height: 368.27px;
  top: -38%;
  right: -8%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.35;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(0.58, -0.76, 0.91, 0.54, 0, 0);
      -ms-transform: matrix(0.58, -0.76, 0.91, 0.54, 0, 0);
          transform: matrix(0.58, -0.76, 0.91, 0.54, 0, 0);
  z-index: -1;
}

.servers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.servers__lead {
  font-size: 18px;
  line-height: 133.33333%;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.content-servers *:last-child {
  margin-bottom: 0;
}

.content-servers__icon {
  margin-bottom: 20px;
}

.content-servers__label {
  font-family: "SFPDisplay-Semibold";
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 133.33333%;
  letter-spacing: 0.02em;
  max-width: 237px;
}

.content-servers__text {
  font-size: 18px;
  line-height: 155.55556%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}

.apps {
  margin-bottom: 160px;
}

.apps__title {
  text-align: center;
}

.apps__subtitle {
  margin-bottom: 30px;
}

.apps__btn {
  margin-bottom: 60px;
}

.apps__content {
  width: 100%;
  position: relative;
}

.apps__content:after {
  content: "";
  position: absolute;
  width: 540px;
  height: 287px;
  top: 8%;
  left: 29%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.35;
  -webkit-filter: blur(512px);
          filter: blur(512px);
  border-radius: 12px;
  -webkit-transform: matrix(0.69, -0.24, 2.77, 0.43, 0, 0);
      -ms-transform: matrix(0.69, -0.24, 2.77, 0.43, 0, 0);
          transform: matrix(0.69, -0.24, 2.77, 0.43, 0, 0);
  z-index: -1;
}

.apps__content span {
  max-width: 590px;
  position: absolute;
  left: -100px;
  top: 50%;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  color: rgba(255, 255, 255, 0.1);
  display: block;
  font-size: 30px;
  line-height: 120%;
  background: -o-linear-gradient(269.87deg, rgba(255, 255, 255, 0.1) 0.12%, rgba(255, 255, 255, 0) 99.88%);
  background: linear-gradient(180.13deg, rgba(255, 255, 255, 0.1) 0.12%, rgba(255, 255, 255, 0) 99.88%);
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.apps__spoller:not(:last-child) {
  margin-bottom: 20px;
}

.spoller-apps {
  width: 100%;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.12);
  padding: 24px 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  cursor: pointer;
}

.spoller-apps__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spoller-apps__header._active .spoller-apps__label:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.spoller-apps__icon {
  margin-right: 20px;
}

.spoller-apps__icon img {
  width: 64px;
  height: 64px;
}

.spoller-apps__label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 24px;
  line-height: 133.33333%;
  font-family: "SFPDisplay-Semibold";
  letter-spacing: 0.02em;
  position: relative;
}

.spoller-apps__label:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/icons/spoller.svg") right no-repeat;
  width: 24px;
  height: 12px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.spoller-apps__content {
  font-size: 18px;
  line-height: 155.55556%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  max-width: 700px;
  display: none;
}

.applications {
  margin-bottom: 160px;
}

.applications__container {
  position: relative;
}

.applications__container:before {
  content: "";
  position: absolute;
  width: 631.39px;
  height: 591.39px;
  top: 0%;
  left: -23%;
  background: -webkit-gradient(linear, left bottom, left top, from(#2e9f58), to(#2e9f58));
  background: -o-linear-gradient(bottom, #2e9f58, #2e9f58);
  background: linear-gradient(0deg, #2e9f58, #2e9f58);
  opacity: 0.1;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(0.84, -0.56, 0.53, 0.84, 0, 0);
      -ms-transform: matrix(0.84, -0.56, 0.53, 0.84, 0, 0);
          transform: matrix(0.84, -0.56, 0.53, 0.84, 0, 0);
  z-index: -1;
}

.applications__container:after {
  content: "";
  position: absolute;
  width: 768.92px;
  height: 1156.94px;
  top: 54%;
  right: -9%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.1;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(-0.81, -0.57, 0.59, -0.82, 0, 0);
      -ms-transform: matrix(-0.81, -0.57, 0.59, -0.82, 0, 0);
          transform: matrix(-0.81, -0.57, 0.59, -0.82, 0, 0);
  z-index: -1;
}

.applications__subtitle {
  margin-bottom: 30px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.applications__btn {
  margin-bottom: 60px;
}

.applications__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  position: relative;
}

.applications__grid:after {
  content: "";
  position: absolute;
}

.applications__grid span {
  display: block;
  position: absolute;
  top: 60%;
  width: 435px;
  right: -15%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  color: rgba(255, 255, 255, 0.1);
  font-size: 25px;
  line-height: 120%;
}

.applications__item {
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  position: relative;
}

.applications__item:first-child:before {
  content: "";
  position: absolute;
  width: 405.09px;
  height: 350px;
  top: -45%;
  left: 17%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.7;
  -webkit-filter: blur(512px);
          filter: blur(512px);
  border-radius: 12px;
  -webkit-transform: matrix(0.68, -0.34, 1.95, 0.45, 0, 0);
      -ms-transform: matrix(0.68, -0.34, 1.95, 0.45, 0, 0);
          transform: matrix(0.68, -0.34, 1.95, 0.45, 0, 0);
  z-index: -1;
}

.item-applications__label {
  margin-bottom: 12px;
  font-family: "SFPDisplay-Semibold";
  font-size: 24px;
  line-height: 133.33333%;
  letter-spacing: 0.02em;
}

.item-applications__text {
  font-size: 18px;
  line-height: 155.55556%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}

.partners {
  margin-bottom: 160px;
}

.partners__container {
  position: relative;
}

.partners__container:after {
  content: "";
  position: absolute;
  top: 35%;
  left: 0%;
  width: 768.92px;
  height: 1156.94px;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.1;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(-0.11, -0.99, 1, -0.09, 0, 0);
      -ms-transform: matrix(-0.11, -0.99, 1, -0.09, 0, 0);
          transform: matrix(-0.11, -0.99, 1, -0.09, 0, 0);
  z-index: -1;
}

.partners__subtitle {
  margin-bottom: 30px;
}

.partners__btn {
  margin-bottom: 60px;
}

.partners__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.partners__partner {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}

.partner {
  position: relative;
}

.partner:after {
  content: "";
  position: absolute;
  width: 487.48px;
  height: 571.62px;
  top: -13%;
  left: 21%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.35;
  -webkit-filter: blur(512px);
          filter: blur(512px);
  border-radius: 12px;
  -webkit-transform: matrix(0.52, -1.05, 0.65, 0.6, 0, 0);
      -ms-transform: matrix(0.52, -1.05, 0.65, 0.6, 0, 0);
          transform: matrix(0.52, -1.05, 0.65, 0.6, 0, 0);
  z-index: -1;
}

.partner__bg {
  position: relative;
}

.partner__img {
  position: relative;
}

.partner__img img {
  position: relative;
  max-width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.partner__content {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.partner__content *:last-child {
  margin-bottom: 0;
}

.partner__name {
  font-family: "SFPDisplay-Semibold";
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 133.33333%;
  letter-spacing: 0.02em;
}

.partner__text {
  padding-bottom: 24px;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 155.55556%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.partner__list li {
  padding-left: 22px;
  position: relative;
  font-size: 18px;
  line-height: 155.55556%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}

.partner__list li:not(:last-child) {
  margin-bottom: 12px;
}

.partner__list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.8);
}

.reviews {
  margin-bottom: 160px;
}

.reviews__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(350px, 400px) minmax(280px, 320px) minmax(280px, 320px);
  grid-template-columns: minmax(350px, 400px) minmax(280px, 320px) minmax(280px, 320px);
  gap: 20px;
}

.reviews__subtitle {
  margin-bottom: 60px;
}

.reviews__reviw {
  padding: 24px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.reviews__reviw:after {
  content: "";
  position: absolute;
  width: 259.94px;
  height: 322.48px;
  top: -30%;
  right: 7%;
  background: -o-linear-gradient(289.21deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  background: linear-gradient(160.79deg, #16ae4d 9.14%, #4a3cf7 87.08%);
  opacity: 0.7;
  -webkit-filter: blur(256px);
          filter: blur(256px);
  border-radius: 12px;
  -webkit-transform: matrix(0.54, -0.93, 0.73, 0.58, 0, 0);
      -ms-transform: matrix(0.54, -0.93, 0.73, 0.58, 0, 0);
          transform: matrix(0.54, -0.93, 0.73, 0.58, 0, 0);
  z-index: -1;
}

.review-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
}

.review-reviews:after {
  content: "";
  position: absolute;
}

.review-reviews__heading {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.review-reviews__avatar {
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: 50%;
  margin-right: 12px;
  display: block;
}

.review-reviews__avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.review-reviews__lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.review-reviews__name {
  display: block;
  color: inherit;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 133.33333%;
  font-family: "SFPDisplay-Semibold";
}

.review-reviews__data {
  font-size: 18px;
  line-height: 155.55556%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.review-reviews__text {
  font-size: 18px;
  line-height: 155.55556%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.review-reviews__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-reviews__stars img {
  display: block;
  margin-right: 6px;
}

@media (min-width: 900px) {
  .menu__item:hover .menu__sublist {
    opacity: 1;
    visibility: visible;
    top: 200%;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: transparent;
    color: #fff;
  }
}

@media (max-width: 1110px) {
  .title__text {
    font-size: calc(40px + 8 * ((100vw - 320px) / 790));
  }

  .title-lead {
    font-size: calc(40px + 8 * ((100vw - 320px) / 790));
  }

  .mainscreen__text {
    font-size: calc(45px + 11 * ((100vw - 320px) / 790));
  }

  .features {
    margin-bottom: calc(70px + 90 * ((100vw - 320px) / 790));
  }

  .features__subtitle {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 790));
  }

  .numbers {
    margin-bottom: calc(70px + 90 * ((100vw - 320px) / 790));
  }

  .numbers__subtitle {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 790));
  }

  .traders {
    margin-bottom: calc(70px + 90 * ((100vw - 320px) / 790));
  }

  .traders__buttons {
    margin-bottom: calc(30px + 10 * ((100vw - 320px) / 790));
  }

  .servers {
    margin-bottom: calc(70px + 90 * ((100vw - 320px) / 790));
  }

  .servers__subtitle {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 790));
  }

  .apps {
    margin-bottom: calc(70px + 90 * ((100vw - 320px) / 790));
  }

  .apps__btn {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 790));
  }

  .spoller-apps {
    padding-left: calc(15px + 9 * ((100vw - 320px) / 790));
  }

  .spoller-apps {
    padding-right: calc(15px + 9 * ((100vw - 320px) / 790));
  }

  .spoller-apps {
    padding-top: calc(15px + 9 * ((100vw - 320px) / 790));
  }

  .spoller-apps {
    padding-bottom: calc(15px + 9 * ((100vw - 320px) / 790));
  }

  .spoller-apps__label {
    font-size: calc(20px + 4 * ((100vw - 320px) / 790));
  }

  .applications {
    margin-bottom: calc(70px + 90 * ((100vw - 320px) / 790));
  }

  .applications__btn {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 790));
  }

  .partners {
    margin-bottom: calc(70px + 90 * ((100vw - 320px) / 790));
  }

  .partners__btn {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 790));
  }

  .reviews {
    margin-bottom: calc(70px + 90 * ((100vw - 320px) / 790));
  }

  .reviews__subtitle {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 991.98px) {
  .traders__slider {
    min-width: 0;
    width: 100%;
  }

  .servers__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .servers__block:last-child {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }

  .servers__row {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .reviews__row {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

@media (max-width: 900px) {
  .header__container {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }

  .menu__list {
    display: block;
    text-align: center;
    padding: 100px 0px;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .menu__link {
    font-size: 30px;
  }

  .menu__sublist {
    display: none;
    position: relative;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    min-width: 0;
    margin-top: 10px;
  }

  .menu__sublink {
    font-size: 25px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 22px;
    height: 17px;
    cursor: pointer;
    margin-left: 15px;
    z-index: 2;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .features__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .features__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .block-features {
    height: auto;
  }
}

@media (max-width: 900px) and (max-width: 1110px) {
  .menu__link {
    font-size: calc(20px + 10 * ((100vw - 320px) / 790));
  }

  .menu__sublink {
    font-size: calc(18px + 7 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 767.98px) {
  .title__text {
    line-height: 100%;
  }

  .applications__grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }

  .partner__name {
    font-size: 20px;
  }

  .partner__text {
    font-size: 16px;
  }

  .partner__list li {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .traders__slider .swiper-slide-prev {
    -webkit-transform: translateX(30%);
        -ms-transform: translateX(30%);
            transform: translateX(30%);
  }
}

@media (max-width: 630px) {
  .table-statistic {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .table-statistic__column:first-child:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .traders__slider .swiper-slide img {
    width: 120%;
    height: 120%;
  }

  .traders__slider .swiper-slide {
    width: 100%;
    opacity: 1;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .traders__slider .swiper-slide-active img {
    max-width: 120%;
    height: auto;
    min-width: 0;
  }

  .traders__slider .swiper-slide-prev img {
    max-width: none;
  }

  .traders__slider .swiper-slide-prev {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
  }

  .traders__slider .swiper-slide-next img {
    max-width: none;
  }

  .traders__slider .swiper-slide-next {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
  }

  .traders__slide img {
    max-width: 100%;
  }

  .servers__block {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .servers__img {
    display: none;
  }

  .partners__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .partner__name {
    font-size: 24px;
  }

  .partner__text {
    font-size: 18px;
  }

  .partner__list li {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .features__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 474px) {
  .header__btn {
    margin-left: 0;
  }
}

@media (max-width: 474.98px) {
  .footer__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .footer__text span {
    margin: 10px 0px;
  }

  .block-features__img {
    display: none;
  }

  .traders__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .traders__arrow {
    display: none;
  }
}

@media (any-hover: hover) {
  .traders__btn:hover {
    background-color: #fff;
    color: #23262c;
  }

  .traders__arrow:hover img {
    opacity: 0.5;
  }

  .traders .swiper-button-disabled img:hover {
    opacity: 0.5;
  }

  .statistics-traders .swiper-pagination-bullet:hover {
    background: rgba(255, 255, 255, 0.8);
  }
}